html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

/* GENERAL PAGE FORMATTING */

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}

h1 {
  font-family: "Stardos Stencil", cursive;
  font-size: 2.25em;
}

h2 {
  font-family: "Stardos Stencil", cursive;
  line-height: 0.0125em;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 30px;
}

h3 {
    font-family: "Stardos Stencil", cursive;
    font-size: 1.75em;
    text-align: center;
  }

h4 {
    font-family: "Stardos Stencil", cursive;
    font-size: 1.25em;
  }

h5 {
  font-family: "Stardos Stencil", cursive;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

h6 {
  font-family: "Assistant", sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  color: darkred;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Assistant", sans-serif;
  font-weight: 400;
}

/*  NAVBAR */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}
.navlink {
  color: rgb(240, 238, 238);
}
.navlink:hover {
  transform: scale(1.2);
  transition: transform .5s;
}

/* HOMEPAGE TWO PANE FLEXBOX */

.flexcontainer1 {
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 800px;
  top: 0;
  bottom: 0;
}

.leftpane {
  width: 33%;
  padding: 30px;
  margin: auto;
  text-align: center;
}

.photopane {
  opacity: 1;
  background: url(/img/thursdayline.jpg) no-repeat;
  width: 67%;
  background-size: cover;
  filter: sepia(30%);
}

.photopane .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0.329);
  position: relative;
}

.overlay:hover {
  opacity: 1;
}

.overlay-text {
  position: absolute;
  bottom: 0%;
  color: white;
  font-size: 1.5em;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  font-family: "Stardos Stencil", cursive;
  font-size: 3em;
  text-shadow: 2px 2px 3px black;
}

/* HOMEPAGE PHOTO BUTTONS */

.flexcontainer2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 0px;
}

.photo-button {
  position: relative;
  margin: 5px;
  flex: 1;
}

.photo-button:first-child {
  margin: 5px 5px 5px 10px;
}

.photo-button:last-child {
  margin: 5px 10px 5px 5px;
}

.photo-button img {
  width: 100%;
  display: block;
  max-height: 400px;
  object-fit: cover;
  filter: sepia(30%);
}

.photo-button .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0.329);
  position: absolute;
  text-shadow: 2px 2px 3px black;
}

.photo-text {
  position: absolute;
  color: white;
  font-size: 1.75em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Stardos Stencil", cursive;
}

.photo-button .overlay:hover {
  opacity: 1;
}

/* VOLUNTEER HIGHLIGHT */

.volunteer-highlight {
  background-color: black;
  display: flex;
  /* height: 200px; */
  top: 0;
  bottom: 0;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.bio {
  font-family: "Assistant", sans-serif;
  color: white;
  font-size: 1em;
  padding: 30px;
}

.bio h3 {
  text-align: left;
}

.headshot {
  margin: 10px;
}

.headshot img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

/* CONTACT US PAGE */

.contact-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 380px;
}
.message-box {
  background-image: url(https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/99117057_929113167552706_1075886236746383360_n.jpg?_nc_cat=103&_nc_sid=110474&_nc_ohc=lFBySvWdSLAAX8Mh74v&_nc_ht=scontent-ort2-1.xx&oh=542c46bac2c8e51e639949a50331bc57&oe=5EFB73E9);
  color: aliceblue;
  border-radius: .5em;
  margin: 5px;
  font-size: 30px;
  display: flex;
  width: 49%;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-wrapper {
  background-color: rgb(250, 243, 232);
  width: 49%;
  /* height: 320px; */
  margin: 5px;
  border: solid black 2px;
  border-radius: 0.5em;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.form-header {
  font-weight: 900;
  position: relative;
  text-align: center;
}
.form-wrapper:hover h2 {
  transform: scale(1.3);
  transition: transform .5s;
}
input {
  border: solid #666 1px;
  border-radius: 0.25rem;
  height: 60%;
}
.form{
    font-size: 25px;
}
/* .firstname{
    width: 50%;
    float: left;
}
.lastname{
    width: 50%;
    float: right;
}
.email{
    width: 100%;
    float: left;
}
.question{
    width: 100%;
} */
.submit{
    height: 35px;
    display: flex;
    justify-content: center;
}
.submit-button{
    background-color: rgba(64, 64, 216, 0.842);
    color: white;
}
.testimonial-wrapper{
    margin-top: 20px;
    font-style: italic;
}

/* Events Calendar */

.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 20px;
}

.event {
  width: 20%;
  padding: 20px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.034);
  margin: 2%;
  text-align: center;
  min-width: 250px;
  flex-grow: 1;
  align-self: auto;
}

/* About Us */

.hero {
  position: relative;
  text-align: left;
  color: white;
  font-family: "Stardos Stencil", sans-serif;
  font-size: 3em;
}

.hero img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: sepia(50%);
  position: relative;
}

.hero-title {
  position: absolute;
  bottom: 50px;
  left: 50px;
  text-shadow: 2px 2px 3px black;
}

.about {
  margin: 0px 30px 30px 30px;
  padding: 20px;
}

.about h5 {
  text-decoration: none;
  font-size: 1.75em;
  text-align: left;
}

.about h5:nth-child(3) {
  text-align: right;
}

.about strong {
  color: darkred;
  text-decoration: underline;
}

.about p:last-child {
  padding-bottom: 20px;
}

.about h6 {
  font-size: 2em;
}

.quotes {
    font-family: "Assistant", sans-serif;
    text-decoration: none;
    font-weight: 600;
    margin: 0px 0px 20px 25%;
    padding: 5px 0px;
    text-align: right;
    font-size: 1.25em;
    color: darkred;
}

.quotes:nth-child(3) {
    background: rgba(139, 0, 0, 0.822);
    padding: 25px 50px;
    font-size: 1.75em;
    color: white;
    margin: 15px -50px;
    font-family: "Stardos Stencil", sans-serif;
}

.volunteer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 0px 20px 0px;
    padding: 0;
  }
  
.gallery img {
    width: 33%;
    height: 600px;
    object-fit: cover;
    padding: 1%;
  }


/* HOW TO GET INVOLVED - RESOURCES */

/* .awesomeart img {
  width: 100%;
  display: block;
  max-height: 250px;
  object-fit: cover;
} */

.Resources {
  font-family: "Assistant", sans-serif;
  padding: 20px;
  margin: 0px 30px 30px 30px;
}

.help {
    border: 5px darkred solid;
    padding: 20px;
    margin: 20px 0px 0px 0px;
  }
  
.weekly-needs {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  
.weekly-needs h2 {
    font-family: "Stardos Stencil", cursive;
    font-size: 1.25em;
    font-weight: 700;
    padding: 10px 0px;
    margin: 0;
    line-height: 1em;
  }
  
.help li {
    padding: 2px;
    list-style-type: square;
    font-family: "Assistant", sans-serif;
  }
  
.individual,.wishlist {
    width: 25%;
    padding: 25px;
    margin: 10px;
    background-color: rgba(139, 0, 0, 0.315);
    /* flex-grow: 1; */
  }
  
.meal-bags {
    width: 50%;
    padding: 25px;
    margin: 10px;
    background-color: rgba(139, 0, 0, 0.315);
    /* flex-grow: 2; */
  }

.donate {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo img {
  width: 300px;
  height: 175px;
  object-fit: contain;
  margin: 10px 20px;
}

/* FOOTER */

.guts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Assistant", sans-serif;
  font-weight: 200;
  color: rgb(240, 238, 238);
  background-color: black;
}

.flocation {
  font-family: "Assistant", sans-serif;
  font-weight: 200;
}

.copyright {
  text-align: center;
  font-family: "Assistant", sans-serif;
  font-weight: 200;
  color: rgb(240, 238, 238);
  background-color: black;
}

/* RESPONSIVE LAYOUT */

@media (max-width: 800px) {
  .leftpane {
    min-width: 250px;
  }

  .overlay-text {
    font-size: 1.5em;
  }

  .photo-button {
    flex: 1;
    min-width: 45%;
    max-width: 50%;
  }
  .photo-button:first-child {
    margin: 5px;
  }

  .photo-button:last-child {
    margin: 5px;
  }
}
