html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a {
    text-decoration: none; 
    color: inherit;
}

ul, ol {
    list-style-type: none;
}


/*  NAVBAR */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.navlink{
    color: rgb(240, 238, 238);
}
.navlink:hover {
    transform: scale(1.2);
}